<div class="home__container pt-4">
  <div class="container">
    <%= image_tag "banner1.png", class: "img-fluid" %>
  </div>
</div>

<div class="home__container pt-4">
  <div class="container">
    <div class="home__inner">
      <div class="home__title">
        <i class="fa-solid fa-bolt-lightning"></i>
        FLASH SALE
      </div>
      <div class="field__products d-flex">
        <% @products.each do |product| %>
          <% if product.status %>
            <div class="col-lg-2 col-md-3 products__column">
              <div class="products__image">
                <%= link_to do %>
                  <% if product.product_images %>
                    <%= image_tag product.product_images.first.image.url, class: "img-fluid" %>
                  <% end %>
                <% end %>
              </div>
              <%= link_to product_path(product), class: "products__infor" do %>
                <%= content_tag :div, class: "products__name" do %>
                  <%= product.name %>
                <% end %>
                <%= content_tag :div, class: "products__price" do %>
                  $<%= product.price %>.00 
                <% end %>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="home__container pt-4">
  <div class="container">
    <div class="home__inner">
      <div class="home__title">
        <i class="fa-solid fa-bolt-lightning"></i>
        TODAY'S SUGGESTIONS
      </div>
      <div class="field__products d-flex">
        <% if logged_in? %>
          <%= render 'shared/feed' %>
        <% end %>
      </div>
    </div>
  </div>
</div>