<div class="home__container pt-4">
  <div class="container">
    <%= image_tag "banner1.png", class: "img-fluid" %>
  </div>
</div>

<div class="home__container pt-5">
  <div class="container">
    <div class="row align-items-center home__inner">
      <div class="col-lg-3 col-md-6">
        <div class="helper__item">
          <div class="d-flex">
            <div class="helper__icon">
              <i class="fa-solid fa-truck-fast"></i>
            </div>
            <div class="helper__content">
              Free Delivery <br/>
              <span>from $100</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="helper__item">
          <div class="d-flex">
            <div class="helper__icon">
              <i class="fa-solid fa-truck-fast"></i>
            </div>
            <div class="helper__content">
              Free Delivery <br/>
              <span>from $100</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="helper__item">
          <div class="d-flex">
            <div class="helper__icon">
              <i class="fa-solid fa-truck-fast"></i>
            </div>
            <div class="helper__content">
              Free Delivery <br/>
              <span>from $100</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="helper__item">
          <div class="d-flex">
            <div class="helper__icon">
              <i class="fa-solid fa-truck-fast"></i>
            </div>
            <div class="helper__content">
              Free Delivery <br/>
              <span>from $100</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="home__container pt-5">
  <div class="container">
    <div class="home__inner">
      <div class="home__title2 pb-4">
        <span>NEW ARRIVALS</span>
      </div>
      <div class="d-flex">
        <div class="col-4">
          <%= link_to arrivals_HS_path do %>
          <div class="arrivals">
            <div class="arrivals__image">
              <%= image_tag '2-2-4-3.jpg', class: "img-fluid" %>
            </div>
            <div class="d-flex justify-content-between align-item-center arrivals__content">
              <div class="arrivals__name">
                Hoddies & Sweetshirt <br/>
                <span>Explore Now!</span>
              </div>
              <a href="#" class="arrivals__icon">
                <i class="fa-solid fa-arrow-right-long"></i>
              </a>
            </div>
          </div>
          <% end %>
        </div>
        <div class="col-4">
          <%= link_to arrivals_TP_path do %>
          <div class="arrivals">
            <div class="arrivals__image">
              <%= image_tag '1-3-3-1.jpg', class: "img-fluid" %>
            </div>
            <div class="d-flex justify-content-between align-item-center arrivals__content">
              <div class="arrivals__name">
                T-shirt & Polo <br/>
                <span>Explore Now!</span>
              </div>
              <a href="#" class="arrivals__icon">
                <i class="fa-solid fa-arrow-right-long"></i>
              </a>
            </div>
          </div>
          <% end %>
        </div>
        <div class="col-4">
          <%= link_to arrivals_TJ_path do %>
          <div class="arrivals">
            <div class="arrivals__image">
              <%= image_tag '4-2-1-3.jpg', class: "img-fluid" %>
            </div>
            <div class="d-flex justify-content-between align-item-center arrivals__content">
              <div class="arrivals__name">
                Trousers & Jean <br/>
                <span>Explore Now!</span>
              </div>
              <a href="#" class="arrivals__icon">
                <i class="fa-solid fa-arrow-right-long"></i>
              </a>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="home__container pt-5 pb-4">
  <div class="container">
    <div class="home__inner">
      <div class="home__title">
        <i class="fa-solid fa-bolt-lightning"></i>
        FLASH SALE
      </div>
      <div class="field__products d-flex">
        <% @products.each do |product| %>
          <% if product.status and product.price > product.current_price %>
            <div class="col-lg-2 col-md-3 products__column">
              <div class="products__image pt-2">
                <%= link_to product_path(product) do %>
                  <% if product.product_images %>
                    <%= image_tag product.product_images.last.image.url, class: "img-fluid" %>
                  <% end %>
                <% end %>
              </div>
              <%= link_to product_path(product), class: "products__infor" do %>
                <%= content_tag :div, class: "products__name" do %>
                  <%= product.name %>
                <% end %>
                <%= content_tag :div, class: "products__new_price pb-3" do %>
                  <span>$<%= product.price %></span> $<%= product.current_price %>
                <% end %>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% if !@feed_items.nil? %>
<% if @feed_items.any? %>
<div class="home__container pt-4">
  <div class="container">
    <div class="home__inner">
      <div class="home__title">
        <i class="fa-solid fa-bolt-lightning"></i>
        TODAY'S SUGGESTIONS
      </div>
      <div class="field__products d-flex">
        <% if logged_in? %>
          <%= render 'shared/feed' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% end %>
<% end %>