<p style="color: green"><%= notice %></p>

<%= render @suggest %>

<div>
  <%= link_to "Edit this suggest", edit_suggest_path(@suggest) %> |
  <%= link_to "Back to suggests", suggests_path %>

  <%= button_to "Destroy this suggest", @suggest, method: :delete %>
</div>
