<div class="container-sign create-shop">
    <div class="inner-sign-up">
        <h1 class="title">Create Shop</h1>
        
        <%#= form_with model: @user, url: sign_up_path do |form| %>
        <%= form_with(model: @shop, local: true)  do |form|  %>
        <%#= render 'shared/flash' %>
            <%= render 'shared/error_messages', object: form.object %>
        <div class="form-sign-up">
            <div class="mb-1 row">
                <label>Name_shop</label>
                 <%#= form.label :name %>
            </div>
            <div class="mb-3 row">
                <div class="col-sm-12">
                    <%= form.text_field :name, class: "form-control", placeholder: "Nguyễn Văn A" %>
                </div>
            </div>
            <div class="mb-1 row">
                <%= form.label :description %>
            </div>
            <div class="mb-3 row">
                <div class="col-sm-12">
                    <%= form.text_field :description, class: "form-control", placeholder: "rails@gmail.com" %>
                </div>
            </div>
            <div class="mb-1 row">
                <div class="col-sm-12">
                    <%= form.submit "Create new Shop!" , class: "btn btn-secondary max-width btn-border create-shop" %>
                </div>
            </div>
        </div>
        <% end %>
    </div>
</div>