<div class="fixed-top">
<div class="topbar_container">
  <div class="row">
    <div class="col">
      <div class="d-flex topbar__left">
        <div class="topbar__item">
          Kênh Mua Bán
        </div>
        <span>|</span>
        <div class="topbar__item">
          Kết nối
          <a href="#" class="topbar__link">
            <i class="fa-brands fa-facebook"></i>
          </a>
          <a href="#" class="topbar__link">
            <i class="fa-brands fa-instagram"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="d-flex topbar__right">
        <% if logged_in? %>
          <% if create_shop? %>
            <div class="topbar__item">
              <%= link_to "Shop", shop_path(current_shop.id), class: "topbar__link" %>
            </div>
          <% else %>
            <div class="topbar__item">
              <%= link_to "Create Shop", new_shop_path, class: "topbar__link" %> 
            </div>
          <% end %>
          <div class="topbar__item dropdown">
            <a class="topbar__link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa-solid fa-cart-shopping"></i>
              <span class="count">2</span>
            </a>
            <ul class="dropdown-menu drop-menu-right dropdown-cart">
              <% cart_items.each do |cart_item| %>
                <% if current_cart_item(cart_item.cart_session_id) %>
                  <li><a class="dropdown-item dropdown-padding">
                    <div class="d-flex">
                      <div class="cart-item__avatar">
                        <%= image_tag cart_item.product.image, class: "img-fluid" %>
                      </div>
                      <div class="cart-item__name">
                        <%= cart_item.product.name %>
                      </div>
                      <div class="cart-item__price">
                        <%= cart_item.product.price %>
                      </div>
                    </div>
                  </a></li>
                <% end %>
              <% end %>
              <li><hr class="dropdown-divider"></li>
              <li>
                <div class="d-flex" style="justify-content: flex-end;">
                  <%= link_to "Show All", cart_items_path, class: "btn-cart" %>
                  <%# <div class="btn-cart">Show All</div> %>
                </div>
              </li>
            </ul>
          </div>
          <div class="dropdown">
            <div class="topbar__item dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              <%= "Chào, " + current_user.name %>
            </div>
            <ul class="dropdown-menu dropdown-menu-dark drop-menu-right">
              <li>
                  <%= link_to '<i class="fa-solid fa-address-card dropdown-icon"></i> Profile'.html_safe, user_path(current_user), class: "dropdown-item dropdown-padding" %>
                </li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li>
                  <%= link_to '<i class="fa-solid fa-gear dropdown-icon"></i> Setting'.html_safe, setting_path, class: "dropdown-item dropdown-padding" %>
                </li>
                <li>
                  <a class="dropdown-item dropdown-padding" href="/static_pages/setting">
                    <i class="fa-solid fa-moon dropdown-icon dark-mode-active"></i>
                    <i class="fa-solid fa-sun dropdown-icon"></i>
                    Chế độ
                  </a>
                </li>
                <li>
                  <%= button_to '<i class="fa-solid fa-right-from-bracket dropdown-icon"></i> Đăng xuất'.html_safe, log_out_path, method: :delete, class: "dropdown-item dropdown-padding" %>
                </li>
            </ul>
          </div>
        <% else %>
          <div class="topbar__item">
            <%= link_to "Login", log_in_path, class: "topbar__link" %>
          </div>
          <div class="topbar__item">
            <%= link_to "Sign Up", sign_up_path, class: "topbar__link" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- Navbar Start -->
<div class="navbar_container">
  <div class="navbar_inner">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar_bg">
      <div class="container-fluid">
        <a class="navbar-brand navbar__logo" href="/">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <form class="d-flex form__search" role="search">
            <input class="form_search" type="search" placeholder="Search" aria-label="Search">
            <button class="button_search" type="submit">
              <i class="fa-solid fa-magnifying-glass"></i>
              Search
            </button>
          </form>
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 navbar__menu">
            <li class="nav-item nav__item">
              <a class="nav-link nav__link nav__link-active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item nav__item">
              <a class="nav-link nav__link" href="#">Dạo</a>
            </li>
            <li class="nav-item nav__item">
              <a class="nav-link nav__link" href="#">Link</a>
            </li>
            <li class="nav-item nav__item">
              <a class="nav-link nav__link" href="#">Link</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>
</div>