<div class="topbar__container">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center">
      <div class="d-flex">
        <div class="topbar__item" >
          Sell with Polkadots
        </div>
        <span>|</span>
        <div class="topbar__item">
          Kết nối
          <a href="#" class="topbar__icon">
            <i class="fa-brands fa-facebook"></i>
          </a>
          <a href="#" class="topbar__icon">
            <i class="fa-brands fa-instagram"></i>
          </a>
        </div>
      </div>
      <div class="d-flex align-items-center">
        <% if logged_in? %>
          <% if create_shop? %>
            <div class="topbar__item">
              <%= link_to "Shop", shop_path(current_shop.id), class: "topbar__link" %>
            </div>
          <% else %>
            <div class="topbar__item">
              <%= link_to "Create Shop", new_shop_path, class: "topbar__link" %> 
            </div>
          <% end %>
          <!-- Button trigger modal -->
          <button type="button" class="cart-icon" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <i class="fa-solid fa-cart-shopping"></i>
            <span class="count">
              <%= count %>
            </span>
          </button>

          <!-- Modal -->
          <div class="modal fade cart_modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Your Cart</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <% if current_cart_session %>
                    <% cart_items.each do |cart_item| %>
                      <% if cart_item &&  current_cart_item(cart_item.cart_session_id) %>
                        <li class="border-bottom"><a class="dropdown-item dropdown-padding">
                          <div class="d-flex">
                            <div class="col-2">
                            <%# <div class="cart-item__avatar"> %>
                              <%= image_tag cart_item.product.product_images[1].image.url, class: "img-fluid" %>
                              <%#= image_tag cart_item.product.image, class: "img-fluid" %>
                            </div>
                            <div class="col-8 cart-item__infor">
                              <div class="cart-item__name">
                                <%= cart_item.product.name %>
                              </div>
                              <div class="cart-item__size">
                                Size:
                                <%= cart_item.size %>
                              </div>
                              <div class="cart-item__quantity">
                                Qty:
                                <%= cart_item.quantity %>
                              </div>
                            </div>
                            <% if cart_item.product.price == cart_item.product.current_price %>
                              <div class="col-2 cart-item__price">
                                $<%= cart_item.product.price %>
                              </div>
                            <% else %>
                              <%= content_tag :div, class: "col-2 cart-item__new_price" do %>
                                <span>$<%= cart_item.product.price %></span> <br/>
                                $<%= cart_item.product.current_price %>
                              <% end %>
                            <% end %>
                          </div>
                        </a></li>
                      <% end %>
                    <% end %>
                  <% end %>
                </div>
                <div class="modal-footer">
                  <div class="d-flex justify-content-between modal_total w-100">
                    <div>
                      Subtotal
                    </div>
                    <div>
                      <% if current_cart_session %>
                        $<%= current_cart_session.sum_money %> 
                      <% else %>
                        $0.0
                      <% end %>
                    </div>
                  </div>
                  <% if current_cart_session %>
                    <%= link_to "Checkout", cart_session_path(current_cart_session), class: "btn btn-primary w-100" %>
                    <%= link_to "View Cart", cart_items_path, class: "btn btn-secondary w-100" %>
                  <% else %>
                    <%= link_to "Checkout", "#", class: "btn btn-primary w-100" %>
                    <%= link_to "View Cart", "#", class: "btn btn-secondary w-100" %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
          <div class="dropdown">
            <div class="topbar__link dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              <%= "Chào, " + current_user.name %>
            </div>
            <ul class="dropdown-menu dropdown_menu">
              <li>
                <%= link_to '<i class="fa-solid fa-address-card dropdown-icon"></i> Profile'.html_safe, user_path(current_user), class: "dropdown-item dropdown-padding" %>
              </li>
              <li>
                <%= link_to '<i class="fa-solid fa-money-bill dropdown-icon"></i> Orders'.html_safe, order_informations_path , class: "dropdown-item dropdown-padding" %>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li>
                <%= link_to '<i class="fa-solid fa-gear dropdown-icon"></i> Setting'.html_safe, setting_path, class: "dropdown-item dropdown-padding" %>
              </li>
              <li> 
                <div class="dropdown-item dropdown-padding dropdown_mode dark_mode_active">
                  <i class="fa-solid fa-moon dropdown-icon"></i>
                  Chế độ
                </div>
                <div class="dropdown-item dropdown-padding dropdown_mode">
                  <i class="fa-solid fa-sun dropdown-icon"></i>
                  Chế độ
                </div>
              </li>
              <li>
                <%= button_to '<i class="fa-solid fa-right-from-bracket dropdown-icon"></i> Đăng xuất'.html_safe, log_out_path, method: :delete, class: "dropdown-item dropdown-padding" %>
              </li>
            </ul>
          </div>
        <% else %>
          <div class="topbar__item">
            <%= link_to "Login", log_in_path, class: "topbar__link" %>
          </div>
          <div class="topbar__item">
            <%= link_to "Sign Up", sign_up_path, class: "topbar__link" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="navbar__container">
  <div class="container">
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <a class="navbar-brand navbar__brand" href="/">PolkaDots</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <div style="flex-grow: 1; padding: 10px 0;">
            <div class="d-flex">
              <%= search_form_for(@query, url: search_path, class: "d-flex form__search") do |f| %>
                <%= f.search_field :name_cont, placeholder: "Search...", class: "form_search" %>
                <%= f.submit class: "button_search" do %>
                  <i class="fa-solid fa-magnifying-glass"></i>
                  Search
                <% end %>
              <% end %>
            </div>
            <div class="d-flex">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-3">
                <li class="nav-item">
                  <%= link_to "Products", products_path, class: "nav-link nav__link" %>
                </li>
                <li class="nav-item">
                  <a class="nav-link nav__link" href="#">Hot Deals</a>
                </li>
                <li class="nav-item">
                  <%= link_to "Vouchers", all_vouchers_path, class: "nav-link nav__link" %>
                </li>
                <li class="nav-item">
                  <a class="nav-link nav__link" href="#">Customer services</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
</div>