<div class="sign__container">
  <div class="container">
    <div class="row align-items-stretch sign_in_container">
      <div class="col-lg-5 col-md-12" style="padding: 0">
        <div class="sign__other d-flex align-items-center flex-column justify-content-center">
          <h1 class="pb-3">Welcome Back!</h1>
          <p class="pb-3">To keep connected with us please login with your personal info</p>
          <%= link_to "SIGN IN", log_in_path, class: "sign__other_btn mb-3" %>
        </div>
      </div>
      <div class="col-lg-7 col-md-12" style="padding: 0">
        <div class="sign__form">
          <h2 class="pb-4">Create Account</h2>
          <%= form_with(model: @user, local: true) do |form|  %>
            <% if @user.errors.any? %>
              <div style="color: red">
                <h2><%= pluralize(@user.errors.count, "error") %> prohibited this @user from being saved:</h2>

                <ul>
                  <% @user.errors.each do |error| %>
                    <li><%= error.full_message %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>
          <div class="form-floating mb-3">
            <%= form.text_field :name, class: "form-control", id: "floatingInput" %>
            <label for="floatingInput">Name</label>
          </div>
          <div class="form-floating mb-3">
            <%= form.text_field :email, class: "form-control", id: "floatingInput" %>
            <label for="floatingInput">Email</label>
          </div>
          <div class="form-floating mb-3">
            <%= form.password_field :password, class: "form-control", id: "floatingPassword" %>
            <label for="floatingPassword">Password</label>
          </div>
          <div class="form-floating mb-3">
            <%= form.password_field :password_confirmation, class: "form-control", id: "floatingPassword" %>
            <label for="floatingPassword">Password Confirmation</label>
          </div>
          <div class="form-floating mb-3">
            <%= form.text_field :phone, class: "form-control", id: "floatingInput" %>
            <label for="floatingInput">Phone</label>
          </div>
          <div class="form-floating mb-4">
            <%= form.text_field :address, class: "form-control", id: "floatingInput" %>
            <label for="floatingInput">Address</label>
          </div>
          <div class="" style="text-align: center;">
            <%= form.submit "SIGN UP" , class: "submit_btn" %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>