<div class="profile-container">
  <div class="container">
    <div class="profile__information">
      <%= content_tag :div, style: "background-color: #{@user.cover_color}; border-radius: 10px;" do %>
        <div class="dropdown-center">
          <div class="profile__avatar center dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <% if @user.image? %>
              <%= image_tag @user.image.url, class: "img-fluid" %>
            <% else %>
              <%= image_tag 'logo.jpg', class: "img-fluid" %>
            <% end %>
          </div>
          <ul class="dropdown-menu dropdown_avatar">
            <li>
              <%= link_to "Cập nhật ảnh đại diện", avaUs_path, class: "dropdown-item" %>
            </li>
          </ul>
        </div>
        <div class="profile__name center">
          <%= @user.name %>
        </div>
      <% end %>
      
      <div class="d-flex profile__inforOther">
        <div class="col-4 profile__box-1">
          <div class="profile__infor">
            <div class="profile__title">
              Thông tin
            </div>
            <ul class="profile__inner-infor">
              <li class="d-flex">
                <div class="col-1 profile__label">
                  <i class="fa-solid fa-envelope"></i>
                </div>
                <div class="col-11 profile__content">
                  <%= @user.email %>
                </div>
              </li>
              <li class="d-flex">
                <div class="col-1 profile__label">
                  <i class="fa-solid fa-square-phone"></i>
                </div>
                <div class="col-11 profile__content">
                  <%= @user.phone %>
                </div>
              </li>
              <li class="d-flex">
                <div class="col-1 profile__label">
                  <i class="fa-solid fa-location-dot"></i>
                </div>
                <div class="col-11 profile__content">
                  <%= @user.address %>
                </div>
              </li>       
              <li class="d-flex">
                <div class="col-1 profile__label">
                  <i class="fa-solid fa-location-dot"></i>
                </div>
                <div class="col-11 profile__content">
                  <%= @user.cover_color %>
                </div>
              </li>            
            </ul>
            <div class="center">
              <%= link_to 'Chỉnh sửa thông tin', edit_user_path(current_user), class: "btn btn-secondary profile__btn" %>
              <%# <button type="button" class="btn btn-secondary profile__btn">
                Chỉnh sửa thông tin
              </button> %>
            </div>
          </div>
        </div>
        <div class="col-8 profile__box-2">
          <div class="">
            <section class="micropost_form">
              <%= render 'shared/micropost_form' %>
            </section>
            <%= render 'shared/post' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>