<div class="cart_session__field">
  <div class="cart_session__container">
    <div class="breadcrumbz">
      <div class="d-flex">
        <div class="breadcrumbz__item">
          <a href="/" class="breadcrumbz__link">Home</a>
        </div>
        <span>/</span>
        <div class="breadcrumbz__item breadcrumbz__item-active">
          Cart Session
        </div>
      </div>
    </div>
  </div>

  <div class="cart_session__container d-flex">
    <div class="col-lg-7 col-md-12">
      <div class="cart_session__title d-flex mb-3">
        <div class="col-4 item-title">Product</div>
        <div class="col-2 item-title">Price</div>
        <div class="col-2 item-title">Quantity</div>
        <div class="col-2 item-title">Total</div>
        <div class="col-2 item-title">Remove</div>
      </div>

      <% @cart_session.cart_items.each do |cart_item| %>
        <div class="cart_session__row d-flex mb-3">
          <div class="col-4 cart-items_col">
            <%= link_to cart_item.product, class: "d-flex justify-content-center" do %>
              <div class="cart-items__avatar">
                <%= image_tag cart_item.product.product_images[2].image.url, class: "img-fluid" %>
              </div>
              <div class="cart-items__name">
                  <div>
                    <%= cart_item.product.name %>
                  </div>
                  <div>
                    <%= cart_item.size %>
                  </div>
              </div>
            <% end %>
          </div>
          <div class="col-2 cart-items_col">
            <div class="cart-items__price">
              $<%= cart_item.product.current_price %>
            </div>
          </div>
          <div class="col-2 cart-items_col">
            <div class="cart-items__quantity">
              <%= form_for cart_item, url: update_quantity_path do |form| %>
                <%= form.hidden_field :current_id, value: cart_item.id %>
                <div class="d-flex justify-content-center">
                  <input type="button" value="-" class="btn_quantity_1">
                  <%= form.text_field :quantity, value: cart_item.quantity, class: "btn_quantity_2" %>
                  <input type="button" value="+" class="btn_quantity_3">
                </div>
                <%= form.submit "Update", class: "btn btn-info cart_session__btn mt-2" %>
              <% end %>
            </div>
            
          </div>
          <div class="col-2 cart-items_col">
            <div class="cart-items__price">
              $<%= cart_item.product.current_price * cart_item.quantity %>
            </div>
          </div>
          <div class="col-2 cart-items_col">
            <%= button_to "x", cart_item, method: :delete, class: "btn btn-danger cart_session__btn" %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="col-lg-5 col-md-12">
      <%= form_with(url: submit_voucher_path, method: :post) do |form| %>
      <div class="d-flex align-items-center cart_session__voucher">
        <%= form.number_field :code, class: "cart_session__voucher_code", placeholder: "Voucher Code" %>
        <%# <input class="cart_session__voucher_code" placeholder="Voucher Code"> %>
        <%= form.submit "Apply", class: "cart_session__voucher_btn" %>
        <%#= button_to "Apply", submit_voucher_path, method: :post, class: "cart_session__voucher_btn" %>
      </div>
      <% end %>
      <div class="cart_session__heading mb-2">
        CART SUMMARY
      </div>
      <div class="cart_session__row p-4">
        <div class="border-bottom">
          <div class="d-flex justify-content-between align-item-center mb-3">
            <h6>Subtotal</h6>
            <h6> $<%= @cart_session.total_final %> </h6>
          </div>
          <div class="d-flex justify-content-between align-item-center mb-2 ">
            <h6>Ship</h6>
            <% if @cart_session.total_final > 50 %>
              <h6> $0 </h6>
            <% else %>
              <h6> $4.0 </h6>
            <% end %>
          </div>
        </div>
        <div class="pt-3">
          <div class="d-flex justify-content-between align-item-center mb-3 fw-bold">
            <h5>Total</h5>
            <% if @cart_session.total_final > 50 %>
              <h5> $<%= @cart_session.total_final + 0 %> </h5>
            <% else %>
              <h5> $<%= @cart_session.total_final + 4 %> </h5>
            <% end %>
          </div>
          <%= button_to "Proceed To Checkout", orderz_path, method: :post, class: "btn btn-primary w-100" %>
        </div>
      </div>
    </div>
  </div>
</div>
<%= javascript_importmap_tags("custom/change_quantity") %>