<%= form_for(@product, html: {multipart: true}) do |form| %>
  <% if product.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% product.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form__content">
    <div class="row">
      <div class="col-6">
        <label for="inputName" class="form-label">Name</label>
        <%= form.text_field :name, class: "form-control", id: "inputName" %>
      </div>

      <div class="col-6">
        <label for="inputPrice" class="form-label">Price</label>
        <div class="input-group mb-3">
          <span class="input-group-text">$</span>
          <%= form.text_field :price, class: "form-control", "aria-label" => "Amount (to the nearest dollar)" %>
          <span class="input-group-text">.00</span>
        </div>
      </div>

      <div class="col-6">
        <%= form.fields_for :product_images do |p| %>
          <label for="inputImage" class="form-label">Image</label>
          <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupFile01">Upload</label>
            <%= p.file_field :image, multiple: true, name: "product_images[image][]", class: "form-control", id: "inputGroupFile01" %>
          </div>
        <% end %>
      </div>

      <div class="col-6">
        <label for="inputColor" class="form-label">Color</label>
        <div class="input-group mb-3">
          <label class="input-group-text" for="inputGroupSelect01">Options</label>
          <%= form.select :color, 
            [["Choose...", "choose"], ["Black", "black"], ["White", "white"], 
            ["Orange", "orange"], ["Red", "red"],
            ["Blue", "blue"], ["Green", "green"], ["Yellow", "yellow"],
            ["Purple", "purple"], ["Pink", "pink"], ["Beige", "beige"]], 
            selected: "choose", class: "form-select", id: "inputGroupSelect01" %>
        </div>
      </div>

      <div class="col-12">
        <div class="mb-1">
          <%= form.label "Sizes" %>
        </div>
        <div class="mb-3">
          <div class="input-group">
            <%= form.collection_check_boxes :size_ids, Size.all, :id, :name do |b| %>
              <% b.label(class: "d-flex me-2") {b.label(class: "input-group-text input_group_text") {b.check_box(class: "form-check-input mt-0")} + b.label(class:"form-control form_control") {b.text} } %>
            <% end %>
          </div>
        </div>
      </div>

      <div class="col-12">
        <div class="mb-1">
          <%= form.label "Categories:" %>
        </div>
        <div class="mb-3">
          <div class="input-group">
            <%= form.collection_check_boxes :category_ids, Category.all, :id, :name do |b| %>
              <% b.label(class: "d-flex me-2") {b.label(class: "input-group-text input_group_text") {b.check_box(class: "form-check-input mt-0")} + b.label(class:"form-control form_control") {b.text} } %>
            <% end %>
          </div>
        </div>
      </div>

      <div class="col-12 mb-3">
        <label for="inputDescription" class="form-label">Description</label>
        <%= form.text_area :description, class: "form-control", id: "inputAddress2"   %>
      </div>

      <div class="col-12 mb-3">
        <label for="inputProduct_Information" class="form-label">Product_Information</label>
        <%= form.text_area :product_information, class: "form-control", id: "inputProduct_Information" %>
      </div>

      <div class="col-12">
        <%= form.submit "Create!" , class: "btn btn-primary max-width" %>
      </div>
    </div>
  </div>
<% end %>