<div id="<%= dom_id product %>">
    <p>
        <strong>Name:</strong>
        <%= product.name %>
    </p>

    <p>
        <strong>color:</strong>
        <%= product.color %>
    </p>

    <p>
        <strong>size:</strong>
        <%= product.sizes.first.name %>
    </p>

    <p>
        <strong>price:</strong>
        <%= product.price %>
    </p>

    <p>
        <strong>description:</strong>   
        <%= product.description %>
    </p>
</div>
